footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

#section_style {
    background-color: white;
    margin-top: 150px;
}

#section_style_2 {
    margin-top: 30px;
}

.blog-post {
    padding-bottom: 24px;
}

.blog-post h1 {
    padding-top: 24px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}